.myimg{
    width: auto;
    height: 15rem;
    max-height: 20rem;
}
.myHeader{
    font-size: 1.2rem;
}
.myTitle{
    font-size: 1.7rem;
    font-weight: bolder;
}
.myContent{
    font-size: 1.1rem;
}